*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://images.alphacoders.com/123/1239568.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family:Cascadia Code Light;
}
.formulario h2{
    color:  white;
    margin-bottom: 20px;
}
.formulario{
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    background-color: rgb(51, 51, 51, 0.602);
    text-align: center;
}
.formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
}

label{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family:Cascadia Code Light; 
}
.formulario button{
    text-decoration: none;
    position: relative;
    border: 1px white solid;
    background-image: linear-gradient(-225deg, #000000 0%, #6c6c6c 29%, #000000 67%, #6c6c6c 100%);
    color: white;
    padding: 10px;
    cursor: pointer;
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    overflow: hidden;
    font-family:Cascadia Code Light;
}
.formulario input[type="submit"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: white;
}
.formulario button::after{
    content: "";
    width: 400px;
    height: 400px;
    position: absolute;
    top: -50px;
    left: -100px;
    background: #13ff13;
    background-image: linear-gradient(-225deg, #231557 0%, #a1a3a1 29%, #494949 67%, #ffffff 100%);
    z-index: -1;
    transition: transform 0.5s ease;
    
}
.formulario button:hover{
    transform: translate(0, -6px);
    box-shadow: 10px -10px 25px 0 rgba(255, 255, 255, 0.5), 0 0 0 0 rgba(240, 241, 241, 0.5);
}
.formulario button:hover::after{
    transform: rotate(150deg);
}
.formulario textarea{
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
}